@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('../components/fondo\ -\ copia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat; /* Esto permite que el fondo se repita */
  height: 100vh; /* Cambié height por min-height para permitir que el fondo se repita si la altura es mayor que 100vh */
}



.header {
  background-color: #101942;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.logo{
  width: 100px;
  padding-right: 20px;
}

#titulo {
  font-size: 60px;
  color: #DA3E91;
}

/*INICIO ----------------------------------*/
.Inicio{
  display: flex;
  background-image: url('../components/abstract-2891890_1920.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right-container {
  flex: 1; /* Ocupa el 50% del ancho */
  height: 100vh;
}


.left-container {
  flex: 1;
  height: 100vh;
  background-color: #101942;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnInicio{
  background-color: #DA3E91;
  color: #ffffff;
  padding: 10px;
  margin: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logoInicio{
  width: 150px;
  padding-right: 20px;
}

#tituloInicio{
  margin-top: 20px;
  font-size: 90px;
  color: #DA3E91;

}

#slgn{
  margin-top: 20px;
  font-size: 20px;
  color: #EFA9CE;

}

.btnInicio:hover{
  background-color: #EFA9CE;
}

/*INICIO SESION --------------------------*/
.content-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 50px;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button.btn-primary {
  background-color: #DA3E91;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.btn-secondary {
  background-color: #DA3E91;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


/*REGISTRO  --------------------------*/

button.btn-primary:hover,
button.btn-secondary:hover {
  background-color: #EFA9CE;
}

.title{
  margin-top: 10px;
  color: #172c3c;
  margin-bottom: 10px;
}

.row{
  width: 100%;
  margin: 10px;
}



